What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

What Can Pandas Do?
Pandas gives you answers about the data. Like:

Is there a correlation between two or more columns?
What is average value?
Max value?
Min value?
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. 
This is called cleaning the data.

In [ ]:
#Installation of Pandas
pip install pandas

# What is pandas series ?
Pandas Series is a one-dimensional labeled array capable of holding data of any type 
(integer, string, float, python objects, etc.). 
The axis labels are collectively called index. 
Pandas Series is nothing but a column in an excel sheet.

In the real world, a Pandas Series will be created by loading the datasets from existing storage, 
storage can be SQL Database, CSV file, and Excel file. Pandas Series can be created from the lists, dictionary, 
and from a scalar value etc. 
Series can be created in different ways, here are some ways by which we create a series:

In [3]:
#Creating series from python list.Here we are getting labels in the form of default sr nos
import pandas as pd
a = [11, 77, 22]
myvar = pd.Series(a)
print(myvar)

0    11
1    77
2    22
dtype: int64

In [4]:
#Create your own labels:

import pandas as pd
a = [11, 78, 42]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    11
y    78
z    42
dtype: int64

In [5]:
#When you have created labels, you can access an item by referring to the label.
print(myvar["y"])

78

In [9]:
#Create a simple Pandas Series from a dictionary:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [5]:
#Create a Series using only data from "day1" and "day2": CHOOSE specific labels to create series

import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2", "day3"])
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [10]:
# Creating series using ndarray
import pandas as pd
import numpy as np 

data = np.array(['b','o','f','f','i','n','s']) 
ser = pd.Series(data)
print(ser)

0    b
1    o
2    f
3    f
4    i
5    n
6    s
dtype: object

In [12]:
#Creating series from the list
import pandas as pd 
List = ['b','o','f','f','i','n','s'] 
ser = pd.Series(List)
print(ser)

0    b
1    o
2    f
3    f
4    i
5    n
6    s
dtype: object

There are two ways through which we can access element of series, they are :
Accessing Element from Series with Position
Accessing Element Using Label (index)

In [13]:
#Accessing first 5 elements of Series

import pandas as pd
import numpy as np
 
data = np.array(['b','o','f','f','i','n','s'])
ser = pd.Series(data)  
#retrieve the first element
print(ser[:5])

0    b
1    o
2    f
3    f
4    i
dtype: object

Accessing Element Using Label (index) :
In order to access an element from series, we have to set values by index label. 
A Series is like a fixed-size dictionary in that you can get and set values by index label.
Accessing a single element using index label

In [6]:
import pandas as pd
import numpy as np 
# creating simple array
data = np.array(['b','o','f','f','i','n','s'])
ser = pd.Series(data,index=[1,2,3,4,5,6,7]) 
print(ser)  
# accessing a element using index element
print(ser[4])

1    b
2    o
3    f
4    f
5    i
6    n
7    s
dtype: object
f

In [14]:
# Reading and creating data from csv file using column name 
import pandas as pd
df = pd.read_csv("mtcars.csv")    
df
ser = pd.Series(df['mpg']) 
data = ser.tail(3)
data = ser.head(6)
type(data)

pandas.core.series.Series

In [17]:
#slicing can be use using .loc function
import pandas as pd
df = pd.read_csv("education.csv")    
df
ser = pd.Series(df['gmat'])  
data.loc[3:6]

3    21.4
4    18.7
5    18.1
Name: mpg, dtype: float64

# Pandas Series

1. One-dimensional

2. Homogenous – Series elements must be of the same data type.

3. Size-immutable – Once created, the size of a Series object cannot be changed.

## Pandas DataFrame

1. Two-dimensional
2. Heterogenous – DataFrame elements can have different data types.
3. Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [18]:
import pandas
mydataset = {'cars': ["BMW", "Volvo", "Ford"], 'passings': [3, 7, 2]}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
# creating th e dataframe
import pandas as pd

data = {"name": ["Chandler Bing", "Harry Kane", "John Doe", "Joey Tribbiani",  "Monica Geller"],
        "Activity": ["party", "Football", "beach", "party", "travel"]}
data = pd.DataFrame(data)
data

In [3]:
#Pandas using alias
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
#Checking Pandas Version
import pandas as pd
print(pd.__version__)

1.4.2

In [5]:
#What is a Series in pandas?
#A Pandas Series is like a column in a table.
#It is a one-dimensional array holding data of any type.

import pandas as pd
a = [1, 7, 2, 33, 55 ,55]
myvar = pd.Series(a)
print(myvar)

0     1
1     7
2     2
3    33
4    55
5    55
dtype: int64

In [20]:
# Importing necessary libraries
import pandas as pd # importing pandas = > useful for creating dataframes
import numpy as np   # importing numpy = > useful for creating numpy arrays

# pandas we have series and data frame
# series is your single dimension
# dataframe is two dimension


x1 = [1, 2, 3, 4,5] # list format
x2 = [10, 11, 12,100,'NA']  # list format

x3 = list(range(5))

new_x = list(zip(x1,x2,x3))

# Creating a data frame using explicits lists
X = pd.DataFrame(new_x, columns= ['x1','x2','x3'],index = [101,102,103,104,105])
X

     x1   x2  x3
101   1   10   0
102   2   11   1
103   3   12   2
104   4  100   3
105   5   NA   4

In [25]:
# Creating from multi list (list of list)
courses = [['Spark','20000', '35days'],['Pyspark','20000','35days'],
           ['Java','15000','40days'],['PHP','10000','30days']]
df = pd.DataFrame(courses, columns= None, index=None )
print(df)

         0      1       2
0    Spark  20000  35days
1  Pyspark  20000  35days
2     Java  15000  40days
3      PHP  10000  30days

In [27]:
technologies =  ['Spark','PySpark','Java','PHP']
fee = [20000,20000,15000,10000]
duration = ['35days','35days','40days','30days']
df = pd.DataFrame(list(zip(technologies,fee,duration)))
print(df)

         0      1       2
0    Spark  20000  35days
1  PySpark  20000  35days
2     Java  15000  40days
3      PHP  10000  30days

In [28]:
# Create from multiple lists
columns=['Courses','Fee','Duration']
index=['r0','r1','r2','r3']
df = pd.DataFrame(list(zip(technologies, fee,duration)),
                 columns=columns,index=index )
print(df)

    Courses    Fee Duration
r0    Spark  20000   35days
r1  PySpark  20000   35days
r2     Java  15000   40days
r3      PHP  10000   30days

In [30]:
# Creating from dict of list
courses = {'Courses':['Spark','PySpark','Java','PHP'],
           'Fee':[20000,20000,15000,10000],
           'Duration':['35days','35days','40days','30days']}
df = pd.DataFrame(courses,index=index )
print(df)

    Courses    Fee Duration
r0    Spark  20000   35days
r1  PySpark  20000   35days
r2     Java  15000   40days
r3      PHP  10000   30days

In [31]:
# Importing necessary libraries
import pandas as pd # importing pandas = > useful for creating dataframes
import numpy as np   # importing numpy = > useful for creating numpy arrays

# pandas we have series and data frame
# series is your single dimension
# dataframe is two dimension


x1 = [1, 2, 3, 4,5,np.nan] # list format
x2 = [np.nan, 11, 12,100,np.nan,200]  # list format

x3 = list(range(6))

new_x = list(zip(x1,x2,x3))

# Creating a data frame using explicits lists
X = pd.DataFrame(new_x, columns= ['x1','x2','x3'],index = [0,1,2,3,4,5])
X.head()
# to get missing values
X.isnull()
X.columns
X.dtypes

x1    float64
x2    float64
x3      int64
dtype: object