In [1]:
# write a code to print value 0 - 25 and 50 - 100 #
for i in range (0,101):
    if (i>=0 and i<=25 or i>50 and i<=100):
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [30]:
s=0
for i in range (0,101):
    if (i<=25 or i>=49):
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [11]:
# Q.2. Write a code to print the pattern?#
s=6
for i in range(0,2):
    for j in range (0,3):
        print(s, end=" ")
        s=s-1
    print()

6 5 4
3 2 1

In [15]:
# Q.2. Write a code to print the pattern?#
i=0
j=6
while i<2:
    j=3
    while j>0:
        print(s,end=" ")
        j=j-1
        s=s-1
    i=i+1
    print()

6 5 4
3 2 1

In [7]:
# Q.2. Write a code to print the pattern?#
i=0
s=6
while i<2:
    j=0
    while j<3:
        print(s,end=" ")
        j=j+1
        s=s-1
        
    i=i+1
    print()

6 5 4
3 2 1

In [45]:
#Q.3 Write a code to print the pattern? #

for i in range (0,7):
    for j in range (0,2):
        print(i,end="")
        
    print()

00
11
22
33
44
55
66

In [2]:
#Q.4 write a code to draw the following pattern using  ?#

for i in range (1,7):
    if(i==1 or i==2 or i==3):
        for j in range (0,1):
            print("+",end="")
        for k in range (1,i):
            print("+",end="")
        print()
    elif(i==4 or i==5 or i==6):
        for l in range (0,1):
            print(" ",end="")
        for m in range (3,i):
            print("0",end="")
        print()

+
++
+++
 0
 00
 000

In [12]:
#Q.4 write a code to draw the following pattern using  ?#

for i in range (1,7):
    if(i<4):
        for j in range(0,i):
            print("+",end=" ")
        print()
    else:
        for l in range (0,1):
            print(" ",end=" ")
        for m in range (3,i):
            print("0",end=" ")
        print()

+
+ +
+ + +
  0
  0 0
  0 0 0

In [129]:
# Q4)  write a code to draw the below pattern ?#

for i in range(1,5):
    for j in range (i,4):
        print("0",end=" ")
    for k in range(0,i):
        print("+",end=" ")
    print()

0 0 0 +
0 0 + +
0 + + +
+ + + +

In [1]:
# Q6) write a code to print the following pattern using? #

for i in range(1,9):
    if(i<=4):
        for j in range(0,i):
            print("0",end=" ")
    else:
        for k in range(i,8):
            print("",end=" ")
        for l in range(4,i):
            print(" +",end="")
            
    print()

0
0 0
0 0 0
0 0 0 0
    +
   + +
  + + +
 + + + +

In [29]:
# Q.11 #
for i in range (1,8):
    if (i==1 or i==2 or i==3):
        for j in range (i,8):
            print(" ",end=" ")
        for k in range(0,i):
            print("+",end=" ")
    elif(i==4):
        for l in range (0,4):
            print("0",end=" ")
        for m in range (0,4):
            print("+",end=" ")
    elif(i==5 or i==6 or i==7):
        for n in range (i,8):
            print(0,end=" ")
            
            
    print()

              +
            + +
          + + +
0 0 0 0 + + + +
0 0 0
0 0
0

In [35]:
#Q.8 #
for i in range (1500,2701):
    if (i%7==0 and i%5==0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [6]:
s=1
for i in range(1,6):
    n=s
    for j in range(0,i):
        print(n,end=" ")
        n=n-1
    print()
    s=s+1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1