In [12]:
for i in range (0,5):
    for j in range (0,5):
        print(j, end="")
    print()

01234
01234
01234
01234
01234

In [13]:
for i in range (0,5):
    for j in range (0,5):
        print(j+1, end="")
    print()

12345
12345
12345
12345
12345

In [35]:
for i in range (0,3):
    for j in range (0,5):
        print(5-j, end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [43]:
#best possible way for above program#
for i in range (1,4):
    s=5
    for j in range (0,5):
        print(s,end=" ")
        s=s-1
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [54]:
s=1
for i in range (0,3):
    
    for j in range (0,4):
        print(s,end="  ")
        s=s+1
    print()

1  2  3  4
5  6  7  8
9  10  11  12

In [41]:
for i in range (1,6):
    for j in range (0,i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [75]:
for i in range (1,6):
    s=5
    for j in range (0,i):
        print(s,end=" ")
        s=s-1
        
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [76]:
s=1
for i in range (1,6):
    for j in range (0,i):
        print(s,end=" ")
        s=s+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [81]:
for i in range(1,6):
    s=5
    for j in range(0,i):
        print(" ",end=" ")
    for k in range (i,6):
        print(s,end=" ")
        s=s-1
    print()

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

In [83]:
for i in range(1,6):
    s=1
    for j in range(0,i):
        print(" ",end=" ")
    for k in range (i,6):
        print(s,end=" ")
        s=s+1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1