In [56]:
basic=int(input())
if(basic>=20000 and basic<50000):
    da=basic*0.08
    hra=basic*0.10
    bonus=basic*0.10
    net_salary=basic+da+hra+bonus
    print("basic salary",basic)
    print("da",da)
    print("hra",hra)
    print("bonus",bonus)
    print("net salary",net_salary)

20000
basic salary 20000
da 1600.0
hra 2000.0
bonus 2000.0
net salary 25600.0

In [61]:
basic=int(input())
if(basic>=50000 and basic<80000):
    da=basic*0.10
    hra=hra*0.12
    bonus=bonus*0.15
    net_salary=basic+da+hra+bonus
    print("basic salary",basic)
    print("da",da)
    print("hra",hra)
    print("bonus",bonus)
    print("net salary",net_salary)

51000
basic salary 51000
da 5100.0
hra 240.0
bonus 300.0
net salary 56640.0

In [62]:
basic=int(input())
if(basic>=80000 and basic<100000):
    da=basic*0.15
    hra=hra*0.15
    bonus=bonus*0.20
    net_salary=basic+da+hra+bonus
    print("basic salary",basic)
    print("da",da)
    print("hra",hra)
    print("bonus",bonus)
    print("net salary",net_salary)

80000
basic salary 80000
da 12000.0
hra 36.0
bonus 60.0
net salary 92096.0

In [3]:
salary=int(input("Enter Salery"))
experiance=int(input("year of experiance"))
if(experiance>5):
    bonus=salary * 0.05
    print(salary+bonus)
else:
    print("salary")

Enter Salery100000
year of experiance6
105000.0