In [1]:
#Q1
count=0
for i in range(2,7):
    for j in range(1,i):
        print(j,end=" ")
        
    x=count
    for k in range(2,i):
        print(x,end=" ")
        x=x-1
        
    count=count+1
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [3]:
#Q1 pattern 2
s=1
for i in range(1,6):
    v=1
    for j in range(0,s):
        if(j<i):
            print(v,end=" ")
            v=v+1
        else:
            v=v-2
            print(v,end=" ")
            v=v+1
    s=s+2
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [53]:
#Q2
count=5
for i in range(1,6):
    x=count
    for j in range(i,6):
        print(x,end="")
        x=x-1
        
    count=count-1
    print()

54321
4321
321
21
1

In [59]:
#Q3
s=0

for i in range (1,8):
    n=0
    for j in range (0,i):
        print(n,end=" ")
        n=n+s
    
    print()
    s=s+1

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36

In [62]:
#Q4
for i in range (1,6):
    x=i
    for j in range(i,6):
        print(x,end=" ")
        x=x+1
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [101]:
#Q.5
count=1
for i in range(1,6):
    for j in range(1,i):
        print("",end=" ")
    x=5
    for k in range(i,6):
        print(x,end=" ")
        x=x-1
    
    for l in range(1,i):
        print(" ",end=" ")
    
    y=count
    for m in range (i,6):
        print(y,end=" ")
        y=y+1
        
    print()
    count=count+1

5 4 3 2 1 1 2 3 4 5
 5 4 3 2   2 3 4 5
  5 4 3     3 4 5
   5 4       4 5
    5         5

In [104]:
#Q.6
x=1
for i in range(1,6):
    
    for j in range(0,i):
        print(x,end="")
    print()    
    x=x+2

1
33
555
7777
99999

In [112]:
#Q.7
x=2
for i in range(1,6):
    for j in range(0,i):
        print(i,end="")
    s=x
    for k in range(i,5):
        print(s,end="")
        s=s+1
    x=x+1
    print()

12345
22345
33345
44445
55555

In [117]:
#Q.8
for i in range(2,7):
    for j in range(i,7):
        print(" ",end="")
    for k in range(1,i):
        print(k,end=" ")
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [147]:
#Q.9
c=0
s=0
for i in range(1,9):
    x=1
    for j in range(0,i): 
        print(x,end=" ")
        x=x+x
    y=c
    for k in range(1,i):
        print(s,end=" ")
        y=y+y
        
    c=c+y
    print()
    s=s+c

1
1 2 0
1 2 4 0 0
1 2 4 8 0 0 0
1 2 4 8 16 0 0 0 0
1 2 4 8 16 32 0 0 0 0 0
1 2 4 8 16 32 64 0 0 0 0 0 0
1 2 4 8 16 32 64 128 0 0 0 0 0 0 0

In [173]:
#Q10
s=1
for i in range(1,9):
    y=0
    x=s
    for j in range(0,i):
        print(x,end="")
    
        x=x-y
        y=y-y/2
    
        
        
    s=s+s
    print()

1
22
444.0
888.08.0
161616.016.016.0
323232.032.032.032.0
646464.064.064.064.064.0
128128128.0128.0128.0128.0128.0128.0